*.ipynb
*.qmd
!classifier_inference.ipynb
!finetuning_logic_illustrated.ipynb
!finetune_sequence_classifier.ipynb
!finetune_sequence_classifier_multilabel.ipynb
!finetune_sequence_scorer.ipynb
!finetune_sequence_scorer_pairwise.ipynb