*.ipynb
!llm_inference_basics_transformers.ipynb
!llm_inference_basics_api.ipynb
!llm_fewshot_inference_api.ipynb
!llm_inference_exercise_housing_classification.ipynb
!llm_inference_async_api.ipynb
!llm_inference_structured_api.ipynb
!llm_inference_reasoning_api.ipynb
!llm_inference_span_extraction.ipynb
!llm_inference_basics_vision.ipynb
