annotations/annotation_set_*.csv
!annotations/annotation_set_01.csv
annotations/annotation_set_*.jsonl
!annotations/annotation_set_01.jsonl

sample_annotation_sets.ipynb
span_to_sentence_annotations.ipynb
