numpy==1.26.4
scipy==1.13.1
pyarrow==15.0.0
pandas==2.1.4
seaborn==0.13.1
matplotlib==3.9.2
nltk==3.9.1
gensim==4.3.3
statsmodels==0.14.2
scikit-learn==1.5.1
datasets==2.21.0
tokenizers==0.19.1
sentencepiece==0.2.0
protobuf==3.20.3
accelerate==0.33.0
transformers==4.44.1
torch~=2.4.0
sentence-transformers==3.1.0
umap-learn==0.5.6
hdbscan==0.8.36
bertopic==0.16.3
seqeval==1.2.2
ollama==0.3.1
openai==1.42.0
tiktoken==0.7.0
replicate==0.31.0
tenacity==9.0.0 
trl==0.10.1
python-dotenv==1.0.1
